.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px 30px;
}

.container > h1 {
  margin: 0 0 16px 0;
}

.container > h1 > span {
  font-weight: 400;
  font-size: 24px;
}

.container > a {
  text-decoration: underline;
}

.container > a:hover {
  color: #007bff;
}
