.container {
  text-align: center;
  margin: 0 40px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 20px 10px 20px;
  max-width: calc(100% - 40px);
}

.container > h1 {
  margin-bottom: 15px;
}

.container > hr {
  width: 192px;
}

.motto {
  font-size: 20px;
}

.content {
  width: 420px;
  max-width: 100%;
}

.content > p {
  line-height: 28px;
}

.content a {
  text-decoration: underline;
}

.content a:hover {
  color: #007bff;
}
