.container {
  text-align: center;
  margin: 0 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 0 20px 10px 20px;
}

.container > h1 {
  margin-bottom: 15px;
}

.container > hr {
  margin: 0 20px;
}

.content {
  width: 400px;
}

.content > p {
  line-height: 28px;
}

.content a {
  text-decoration: underline;
}

.content a:hover {
  color: #007bff;
}
