.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/background.jpg');
  background-position: center center;
  background-size: cover;
}

.center {
  text-align: center;
  margin: 0 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.center > hr {
  border-color: #000;
}
