.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title > h1 {
  margin-bottom: 8px;
}

.title > div {
  margin-left: 5px!important;
}

.hr {
  margin: 0 30px;
}

.links {
  margin: 0 20px 20px 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #007bff;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  z-index: 1;
}

.button:after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  bottom: 0;
  height: 100%;
  background: #fff;
  right: 0;
  left: auto;
  z-index: -1;
}

.button:hover {
  color: #007bff;
}

.button:hover:after {
  width: 100%;
  left: 0;
}

.contact > a {
  margin: 10px;
  display: inline-block;
}

.contact > a:hover {
  transform: scale(1.1);
  color: #007bff;
}
