.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/background.jpg');
  background-position: center center;
  background-size: cover;
}

.center {
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
}

.title > h1 {
  margin-bottom: 8px;
}

.title > div {
  margin-left: 5px!important;
}

.center > hr {
  border-color: #000;
}

.contact > a {
  margin: 0 10px;
  display: inline-block;
}

.contact > a:hover {
  transform: scale(1.1);
  color: #2196f3;
}
