.container {
  max-width: 400px;
}

.container > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.container > h2 > div {
  margin-left: 5px!important;
}

.container > a {
  margin: 0 5px;
  text-decoration: underline;
}

.container > a:hover {
  color: #007bff;
}
